<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

	<!-- 레시피 제목-->
	<h2 class="border-bottom py-2" th:text="${recipe.subject}"></h2>

	<!-- 레시피 -->
	<div class="card my-3">
		<div class="card-head" align="center" style="margin-top: 50px">

			<table class="table table-borderless" style="width: 1000px;">

				<!-- 요리 썸네일 -->
				<tr>
					<td rowspan="5" style="width: 600px"><img
						th:src="${recipe.filePath}" class="img-thumbnail"
						style="width: 600px; height: 400px;"> <!-- 레시피 추천 버튼 -->
						<div align="center" style="margin-top: 10px">
							<a class="recommend btn btn-sm btn-outline-danger"
								th:data-uri="@{|/recipe/vote/${recipe.id}|}">추천 <span
								class="badge rounded-pill bg-danger"
								th:text="${#lists.size(recipe.voter)}"></span>
							</a>

							<!-- 질문 수정 버튼 -->
							<a th:href="@{|/recipe/modify/${recipe.id}|}"
								class="btn btn-sm btn-outline-warning"
								sec:authorize="isAuthenticated()"
								th:if="${recipe.author != null and 
                         ((#authentication instanceof T(org.springframework.security.authentication.UsernamePasswordAuthenticationToken) and 
                         #authentication.principal.username == recipe.author.username) or
                         (#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken) and
                         #authentication.principal.attributes['email'] == recipe.author.email))}"
								th:text="수정"></a>

							<!-- 질문 삭제 버튼 -->
							<a th:data-uri="@{|/recipe/delete/${recipe.id}|}"
								class="delete btn btn-sm btn-outline-warning"
								sec:authorize="isAuthenticated()"
								th:if="${recipe.author != null and 
                         ((#authentication instanceof T(org.springframework.security.authentication.UsernamePasswordAuthenticationToken) and 
                         #authentication.principal.username == recipe.author.username) or
                         (#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken) and
                         #authentication.principal.attributes['email'] == recipe.author.email))}"
								th:text="삭제"></a>
						</div></td>

					<!-- 요리 작성자 -->
					<td><div class="border-bottom py-2 float-end">
							<span th:if="${recipe.author != null}"
								th:text="${recipe.author.nickname}"
								style="vertical-align: bottom"></span> <img
								th:src="${profilePath}" class="rounded" width=80px " height=80px">
						</div></td>
				</tr>

				<!-- 요리제목 -->
				<tr>
					<td><h3>
							<span style="margin-left: 30px" th:text="${recipe.subject}"></span>
						</h3></td>
				</tr>

				<!-- 요리소개 -->
				<tr>
					<td><div style="color: gray; margin-left: 30px"
							th:text="${recipe.cookIntro}"></div></td>
				</tr>

				<!-- 요리 재료 -->
				<tr>
					<td>
						<h5>
							<span style="margin-left: 30px;">재료 <small
								class="text-muted">Ingredients</small></span>
						</h5>
						<h6>
							<th:block th:each="ingredient, index : ${#strings.arraySplit(recipe.ingredient, ',')}">
								<span th:text="${ingredient}"
									style="margin-left: 30px; text-align: left; display: inline-block; width: 30%;"></span>
								<span th:text="' '"></span>
								<span
									th:text="${#strings.arraySplit(recipe.capacity, ',')[__${index.index}__]}"
									style="text-align: right; display: inline-block; width: 30%;"></span>
								<br />
							</th:block>
						</h6> 
					</td>
				</tr>
			</table>

			<!-- 레시피 내용 -->
			<table class="table table-bordered" style="width: 1000px; margin-top: 50px;">
				<tr class="text-center">
					<!-- 요리 정보(인원/시간/난이도) -->
					<td><img src="/image/people.jpg"
						style="width: 40px; height: 40px;">
						<div th:text="${recipe.cookInfo_people}"></div></td>
					<td><img src="/image/time.jpg"
						style="width: 40px; height: 40px;">
						<div th:text="${recipe.cookInfo_time}"></div></td>
					<td><img src="/image/level.jpg"
						style="width: 40px; height: 40px;">
						<div th:text="${recipe.cookInfo_level}"></div></td>
				</tr>
			</table>

			<!-- 마크다운 적용 -->
			<!-- 요리 레시피 -->
			<table class="table" style="width: 1000px;">
				<h5 class="text-start" style="margin-top: 50px; margin-left: 150px;">
					조리순서 <small class="text-muted">Steps</small>
				</h5>

				<th:block th:each="content, index : ${#strings.arraySplit(recipe.content, ',')}">
					<tr>
						<td rowspan='2'
							style="width: 400px; height: 400px; border-bottom: none;"><img
							th:src="${recipe.contentFilePaths[index.index]}"
							class="img-thumbnail"
							style="width: 400px; height: 400px; margin-bottom: 50px"></td>
						<td style="height: 50px"><span
							th:text="'Step ' + (${index.index + 1})"
							style="font-size: 20px; font-weight: bold; margin-left: 20px"></span>
						</td>
					</tr>
					<tr>
						<td style="border-bottom: none;">
							<div th:text="${content}" style="margin-left: 20px"></div>
						</td>
					</tr>
				</th:block>
			</table>

		</div>
	</div>

	<!-- 최초 작성 일시 / 수정 일시  -->
	<table class="table table-bordered">
		<tr class="text-center">
			<td style="width: 40%; vertical-align: middle;"><span
				class="text-muted"> 등록일 : <span
					th:text="${#temporals.format(recipe.createDate, 'yyyy-MM-dd HH:mm')}"></span>
					| <span th:if="${recipe.modifyDate != null}">수정일 : <span
						th:text="${#temporals.format(recipe.modifyDate, 'yyyy-MM-dd HH:mm')}"></span></span>
			</span></td>
			<td style="vertical-align: middle;"><span class="text-muted">
					<span style="display: inline;">저작자의 사전 동의 없이 이미지 및 문구의 무단 도용
						및 복제를 금합니다.</span>
			</span></td>
		</tr>
	</table>

	<!-- 마트 카카오 지도 api -->
	<h3 class="border-bottom py-2" style="margin-top: 50px;">고객님 집 주변의
		마트 정보</h3>
	<div class="card my-3">
		<div id="map" sec:authorize="isAuthenticated()"
			style="width: 100%; height: 400px;"></div>
	</div>

	<!-- 답변 -->
	<div class="container my-3">
		<!-- 답변의 갯수 표시 -->
		<div style="margin-top: 50px">
			<h4 class="border-bottom my-3 py-2">
				요리 후기 <span style="color: #FFC107;"> <span
					th:text="${#lists.size(recipe.answerList)}"></span>
				</span>
			</h4>

			<!-- 댓글 반복 시작 -->
			<div class="card my-3" th:each="answer : ${recipe.answerList}">

				<!-- 댓글 앵커 추가 -->
				<a th:id="|answer_${answer.id}|"></a>

				<!-- 댓글 내용 -->
				<div class="card-body">
					<div class="text-muted">
						<div class="mb-2">
							<img th:src="${answer.author.profilePath}" class="rounded-circle"
								width="50px" height="50px"> <span
								th:if="${answer.author != null}"
								th:text="${answer.author.nickname}"
								style="color: #FFC107; font-size: 1.5em;"></span> &nbsp; <span
								th:if="${answer.modifyDate != null}"
								th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
							<span th:unless="${answer.modifyDate != null}"
								th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></span>
						</div>
					</div>
					<div class="card-text"
						th:utext="${@commonUtil.markdown(answer.content)}"
						style="margin-left: 55px"></div>

					<!-- 댓글 버튼-->
					<div class="d-flex justify-content-end">

						<!-- 댓글 추천 버튼 -->
						<div style="margin-right: 5px">
							<a class="recommend btn btn-sm btn-outline-danger"
								th:data-uri="@{|/answer/vote/${answer.id}|}">추천 <span
								class="badge rounded-pill bg-danger"
								th:text="${#lists.size(answer.voter)}"></span>
							</a>
						</div>

						<!-- 댓글 수정 버튼 -->
						<div style="margin-right: 5px">
							<a th:href="@{|/answer/modify/${answer.id}|}"
								class="btn btn-sm btn-outline-warning"
								sec:authorize="isAuthenticated()"
								th:if="${answer.author != null and 
                  ((#authentication instanceof T(org.springframework.security.authentication.UsernamePasswordAuthenticationToken) and 
                      #authentication.principal.username == answer.author.username) or
                       (#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken) and
                       #authentication.principal.attributes['email'] == answer.author.email))}"
								th:text="수정"></a>
						</div>

						<!-- 댓글 삭제 버튼 -->
						<a th:data-uri="@{|/answer/delete/${answer.id}|}"
							class="delete btn btn-sm btn-outline-warning"
							sec:authorize="isAuthenticated()"
							th:if="${answer.author != null and 
                  ((#authentication instanceof T(org.springframework.security.authentication.UsernamePasswordAuthenticationToken) and 
                      #authentication.principal.username == answer.author.username) or
                       (#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken) and
                       #authentication.principal.attributes['email'] == answer.author.email))}"
							th:text="삭제"></a>
					</div>
				</div>
			</div>
		</div>
		<!-- 댓글 반복 끝  -->

		<!-- 댓글 작성   -->
		<form th:action="@{|/answer/create/${recipe.id}|}"
			th:object="${answerFormDto}" method="post" class="my-2">
			<div th:replace="form_errors :: formErrorsFragment"></div>
			<table class="table table-borderless">
				<tr>
					<td style="width: 87%"><textarea sec:authorize="isAnonymous()" placeholder="로그인 시 댓글을 작성할 수 있습니다."
					    disabled th:field="*{content}" class="form-control" rows="3"></textarea>
						<textarea sec:authorize="isAuthenticated()" th:field="*{content}"
							class="form-control" rows="3"></textarea></td>
					<td><input type="submit" value="등록"
						class="btn btn-warning my-2" style="width: 150px; height: 80px; font-size:20px;"></td>
				</tr>
			</table>
		</form> 
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript"
		src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=e29d4d2efe0c5f7564016c5180156651&autoload=false&libraries=services"></script>
	<script type="text/javascript">
		kakao.maps
				.load(function() {
					$
							.ajax({
								type : 'get',
								url : '/recipe/presentAddress',
								success : function(response) {
									var encodedAddress = response;
									var presentAddress = decodeURIComponent(encodedAddress);
									var geocoder = new kakao.maps.services.Geocoder();
									geocoder
											.addressSearch(
													presentAddress,
													function(result, status) {
														console
																.log(presentAddress);
														if (status === kakao.maps.services.Status.OK) {
															console.log(result);
															var mapContainer = document
																	.getElementById('map');
															var mapOption = {
																center : new kakao.maps.LatLng(
																		result[0].y,
																		result[0].x),
																level : 3
															};
															var map = new kakao.maps.Map(
																	mapContainer,
																	mapOption);
															var infowindow = new kakao.maps.InfoWindow(
																	{
																		zIndex : 1
																	});
															var ps = new kakao.maps.services.Places();
															var mapLatlng = new kakao.maps.LatLng(
																	result[0].y,
																	result[0].x);
															var keyOptions = {
																location : mapLatlng
															};
															ps
																	.keywordSearch(
																			'마트',
																			placesSearchCB,
																			keyOptions);
															function placesSearchCB(
																	data,
																	status,
																	pagination) {
																if (status === kakao.maps.services.Status.OK) {
																	var bounds = new kakao.maps.LatLngBounds();
																	for (var i = 0; i < 5; i++) {
																		displayMarker(data[i]);
																		bounds
																				.extend(new kakao.maps.LatLng(
																						data[i].y,
																						data[i].x));
																	}
																	map
																			.setBounds(bounds);
																}
															}
															function displayMarker(
																	place) {
																var marker = new kakao.maps.Marker(
																		{
																			map : map,
																			position : new kakao.maps.LatLng(
																					place.y,
																					place.x)
																		});
																kakao.maps.event
																		.addListener(
																				marker,
																				'click',
																				function() {
																					infowindow
																							.setContent('<div style="padding:5px;font-size:12px;">'
																									+ place.place_name
																									+ '</div>');
																					infowindow
																							.open(
																									map,
																									marker);
																				});
															}
														}
													});
								}
							});

					function sendAjaxRequest() {
						var xhr = new XMLHttpRequest();
						xhr.onreadystatechange = function() {
							if (xhr.readyState === 4 && xhr.status === 200) {
								var response = xhr.responseText;
								console.log(response);
							}
						};
						xhr.open("GET", "/recipe/presentAddress", true);
						xhr.setRequestHeader("X-Requested-With",
								"XMLHttpRequest");
						xhr.send();
					}
				});
	</script>
</div>
</html>