<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

   <style>
a {
   text-decoration: none
}

a:visited {
   color: black;
}

a:hover {
   color: #FFC107;
}
</style>

   <!-- Recipe List -->
   <table class="table" style="margin-top: 50px">
      <thead class="table">
         <tr class="text-center">
            <th>요리사진</th>
            <th style="width: 50%">제목</th>
            <th>작성일시</th>
            <th>작성자</th>
            <th>조회수</th>
         </tr>
      </thead>

      <!-- 레시피 리스트 -->
      <tbody class="border-top py-2">
         <tr th:each="recipe, loop : ${paging}">

            <!-- 음식 이미지 -->
            <td style="text-align: center; width: 150px; height: 150px;"><a
               th:href="@{|/recipe/detail/${recipe.id}|}"> <img
                  th:src="${recipe.filePath}" style="width: 150px; height: 150px;"
                  alt="Thumbnail"></a></td>

            <!-- 음식 제목 -->
            <td>
               <div style="margin-left: 10px;">
                  <a th:href="@{|/recipe/detail/${recipe.id}|}"
                     th:text="${recipe.subject}"></a>
               </div>
               <div style="margin-top: 100px;">
                  <strong> <span style="font-size: 13px;"> 리뷰 <span
                        th:text="${#sets.size(recipe.answerList)}"></span> &nbsp;|&nbsp; <span
                        style="font-size: 13px;"> ♡ <span
                           th:text="${#sets.size(recipe.voter)}"></span>
                     </span></strong>
               </div>
            </td>

            <!-- 작성일시 -->
            <td class="text-center"><span
               th:text="${#temporals.format(recipe.createDate, 'yyyy-MM-dd HH:mm')}"></span></td>

            <!-- 작성자 -->
            <td class="text-center"><strong><span
                  th:if="${recipe.author != null}"
                  th:text="${recipe.author.nickname}"></span></strong></td>

            <!-- 조회수 -->
            <td class="text-center"><span th:text="${recipe.view}"></span></td>
         </tr>
      </tbody>
   </table>

   <!-- 페이징처리 시작 -->
   <div th:if="${!paging.isEmpty()}">
      <ul class="pagination justify-content-center">

         <!-- 첫 페이지 -->
         <li class="page-item"
            th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
            class="page-link" href="javascript:void(0)" th:data-page="0"> <span>&laquo;</span>
         </a></li>

         <!-- 이전 페이지 -->
         <li class="page-item"
            th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
            class="page-link" href="javascript:void(0)"
            th:data-page="${paging.number-1}"> <span>이전</span>
         </a></li>

         <li
            th:each="page: ${#numbers.sequence(paging.number - 2, paging.number + 2)}"
            th:if="${page >= 0 and page < paging.totalPages}"
            th:classappend="${page == paging.number} ? 'active'"
            class="page-item"><a th:text="${page + 1}" class="page-link"
            href="javascript:void(0)" th:data-page="${page}"></a></li>

         <!-- 다음 페이지 -->
         <li class="page-item"
            th:classappend="${!paging.hasNext} ? 'disabled'"><a
            class="page-link" href="javascript:void(0)"
            th:data-page="${paging.number+1}"> <span>다음</span>
         </a></li>

         <!-- page 끝으로 -->
         <li class="page-item"
            th:classappend="${!paging.hasNext} ? 'disabled'"><a
            class="page-link" href="javascript:void(0)"
            th:data-page="${paging.totalPages-1}"> <span>&raquo;</span>
         </a></li>

      </ul>
   </div>
   <!-- 페이징처리 끝 -->

   <!-- page와 kw를 동시에 get요청 할수 있는 searchform -->
   <form th:action="@{/recipe/list}" method="get" id="searchForm">
      <input type="hidden" id="kw" name="kw" th:value="${kw}"> <input
         type="hidden" id="page" name="page" th:value="${paging.number}">
   </form>

</div>
</html>